@font-face {
  font-family: 'core-sans-regular';
  src: url('../fonts/core-sans/CoreSansG-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'core-sans-bold';
  src: url('../fonts/core-sans/CoreSansG-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'core-sans-light';
  src: url('../fonts/core-sans/CoreSansG-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}