$font-regular: core-sans-regular, Arial, sans-serif;
$font-bold: core-sans-bold, Arial, sans-serif;
$font-light: core-sans-light, Arial, sans-serif;

$break-large: 1200px;
$break-md: 992px;
$break-tablet: 768px;
$break-smart: 592px;
$break-mobile: 420px;

$main-color: #4a91d9;
$main-color-dark: #244b72;
$font-color: #504f4d;